{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="dashboard-container">
    <h2>Welcome, {{ user[1] }} {{ user[2] }}!</h2>
    <div class="user-info">
        <table>
            <tr>
                <td>Full&nbsp;Name</td>
                <td>{{ user[1] }} {{ user[2] }}</td>
            </tr>
            <tr>
                <td>Course</td>
                <td>{{ user[3] }}</td>
            </tr>
            <tr>
                <td>Section</td>
                <td>{{ user[4] }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user[5] }}</td>
            </tr>
        </table>
        <div>
            <a href="{{ url_for('logout') }}" class="dashboard-btn">Logout</a>
        </div>
    </div>
</section>
{% endblock %}